@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  --background: #ffffff;
  --foreground: #171717;
  --backdropPink: #ffc1bd;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Comfortaa, MuseoModerno;
}
h1,
h2,
h3,
h4 {
  font-family: MuseoModerno;
}

/* carousel */
.embla {
  overflow: hidden;
  width: 100%;
}
.embla__container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
  will-change: transform;
}

.embla__slide {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ffc1bd;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.embla__slide img {
  object-fit: cover;
  height: 100%;
}

/* SCREEN SIZES */

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .embla__slide {
  }
}
